html {
  height: 100%;
  background: url(http://i.imgur.com/b9r5sEL.jpg) center center;
  background-size: cover;
  position: relative;

}

.keys {
  width: 80%;
  height: 6rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
}

.key {
  width: 6rem;
  height: 5rem;
  margin: 10px;
  background: rgba(0,0,0,.5);
  text-align: center;
  border: 5px solid black;
  border-radius: 5px;
  color: white;
  transition: .07s;
}

.playing {
  transform: scale(1.1);
  border-color: orange;
  box-shadow: 0 0 5px 5px orange;
}

kbd {
  display: block;
  margin-top: 10px;
  font-size: 2rem;
}

.key span {
  color: orange;
  font-size: 0.8rem;
}